.t-leadership {
    &_content {
        margin-top: rem(20);

        &_wrap {
            &:not(:first-child) {
                margin-top: rem(40);
            }
        }

        &_employees {
            @include adjust-flex();
            flex-wrap: wrap;

            &_item {
                flex: 0 0 33.33333%;
                width: 100%;

                @include tablet-down {
                    flex: 0 0 50%;
                }

                @include small-mobile {
                    flex: 0 0 100%;
                }
            }
        }
    }

    .m-infoleader {
        margin-bottom: rem(0);

        @include mobile-up {
            margin-bottom: rem(30);
        }
    }
}
