.a-button {
    $root: &;
    align-items: center;
    border: 1px solid $may-green;
    border-radius: rem(2);
    box-sizing: border-box;

    display: flex;
    font-family: inherit;
    font-weight: 400;
    justify-content: center;
    outline: 0;
    overflow: hidden;
    padding: rem(5) rem(16);
    width: 100%;
    @include font-base(16, 24);
    @include transition(all $transition ease-in-out);

    &-primary {
        background-color: $may-green;
        box-shadow: 0 rem(2) 0 $black0043;
        color: $white;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 1;
        }
    }

    &-secondary {
        background-color: $white;
        border-color: $gainsboro;
        box-shadow: 0 rem(2) 0 $black0016;
        color: $black;

        &:hover {
            border-color: $spanish-green4a;
            color: $spanish-green4a;
        }
    }

    &-outline {
        background-color: $white;
        box-shadow: 0 rem(2) 0 $black0016;
        color: $may-green;
        @include font-base(16, 24);

        &:hover {
            background-color: $yellow-green;
            color: $white;
        }

        &:active {
            background-color: $may-green;
        }
    }

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    &-loading {
        align-items: center;

        img {
            height: rem(18);
            width: rem(18);
        }
    }
}
