.p-investmentDetail {
    &_branchList,
    &_introductionFieldInvestment,
    &_visionMissionValueFull {
        @include margin-section(26, 64);
    }
  
    &_introductionFieldInvestment {
        margin-bottom: rem(26);
        margin-top: rem(26);
  
        @include mobile-down {
            margin-bottom: rem(24);
            margin-top: rem(24);
        }
    }
  
    &_fieldActivity {
        margin-bottom: rem(75);
  
        @include tablet-down {
            margin-bottom: rem(60);
        }
  
        @include mobile-down {
            margin-bottom: rem(24);
        }
    }
}
