.p-newsDetail {
    &_content {
        margin-bottom: rem(56);
        margin-top: rem(23);
  
        @include tablet-down {
            margin-bottom: rem(40);
        }
  
        @include mobile-down {
            margin-bottom: rem(24);
        }
  
        img,
        video {
            max-width: 100%;
  
            @include mobile-down {
                height: auto !important;
            }
        }
    }
}
