.t-fieldActivity {
    $root: &;
  
    &_desc {
        margin-bottom: rem(32);
        margin-top: rem(24);
  
        @include tablet-down {
            margin-bottom: rem(26);
            margin-top: rem(18);
        }
    }
  
    &_item {
        position: relative;
        @include tablet-down {
            margin: 0 rem(8);
        }
  
        &:hover {
            #{$root}_content {
                background-color: $black-5;
                justify-content: center;
                top: 0;
            }
        }
    }
  
    .o-carousel {
        margin-left: rem(-16);
        margin-right: rem(-16);
  
        &_item {
            padding-left: rem(16);
            padding-right: rem(16);
        }
  
        @include position-outsite-arrow();
  
        &_dot {
            background-color: $taupe-gray;
            border-radius: 50%;
            display: block;
            height: rem(12);
            transition: $transition-long ease;
            width: rem(12);
  
            @include mobile-down {
                height: rem(10);
                width: rem(10);
            }
        }
  
        .slick-dots {
            .slick-active > span {
                background-color: $spanish-green4a;
                border-radius: 50%;
                height: rem(12);
                opacity: 0.8;
                width: rem(12);
  
                @include mobile-down {
                    height: rem(10);
                    width: rem(10);
                }
            }
        }
  
        .slick-list {
            padding-bottom: rem(30);
        }
  
    }
  
    &_btn {
        border: 1px solid $columbia-blue;
        height: rem(40);
        width: rem(40);
  
        @include iphone-large-lands {
            height: rem(30);
            width: rem(30);
        }
  
        @include mobile-down {
            height: rem(30);
            width: rem(30);
        }
  
        &::before {
            background-size: rem(15);
        }
    }
  
    &_content {
        background-image: linear-gradient($black-01, $black-5);
        bottom: 0;
        flex-direction: column;
        left: 0;
        padding: rem(16);
        position: absolute;
        right: 0;
        top: calc(100% - 56px);
        transition: all $transition linear;
        @include adjust-flex(flex-start, center);
  
        @include tablet-down {
            padding: rem(8);
        }
  
        &-desc {
            @include text-overflow(3);
            margin-top: rem(8);
        }
  
        @include mobile-down {
            top: calc(100% - 48px);
        }
    }
  
    &_wrapper-small {
        @include desktop-up {
            margin: 0 rem(150);
        }
  
        #{$root}_content-title {
            .a-text {
                @include font-base(20, 30);
            }
        }
    }
}
