.p-aboutUs {
    &_intro,
    &_visionMissionValue,
    &_developmentHistory,
    &_sustainableDevelopmentMessage,
    &_corporateCulture {
        @include margin-section;
    }

    &_partnerList {
        margin-bottom: rem(40);
    }
  
    &_awardList {
        margin-bottom: rem(30);
        margin-top: rem(70);

        @include desktop-up {
            margin-bottom: rem(60);
        }
    }

    &_sustainableDevelopmentMessage {
        margin-bottom: rem(33);

        @include tablet-down {
            margin-bottom: rem(27);
        }
  
        @include mobile-down {
            margin-bottom: rem(15);
        }
    }

    &_corporateCulture {
        margin-top: 0;
    }
}
