.p-recruitmentdetail {
    &_diagnosticImagingTechnician,
    &_applicationForm {
        margin-top: rem(47);

        @include tablet-down {
            margin-top: rem(24);
        }
    }

    &_diagnosticImagingTechnician {
        margin-bottom: rem(117);

        @include tablet-down {
            margin-bottom: rem(60);
        }

        @include mobile-down {
            margin-bottom: rem(24);
        }
    }
}
