.p-busDetails {
    &_introductionFieldInvestment,
    &_introduceSpecificBUInformation {
        margin-bottom: rem(117);
        margin-top: rem(47);
  
        @include tablet-down {
            margin-bottom: rem(60);
            margin-top: rem(24);
        }
  
        @include mobile-down {
            margin-bottom: rem(24);
        }
    }
  
    &_branchList {
        margin-bottom: rem(86);
        margin-top: rem(47);
  
        @include tablet-down {
            margin-bottom: rem(30);
        }
    }
  
    &_introductionFieldInvestment {
        margin-bottom: rem(50);
        margin-top: rem(50);
  
        @include mobile-down {
            margin-bottom: rem(24);
            margin-top: rem(24);
        }
    }
}
